<br>
<div class="container">
  <section>
    <h5 style="font-family: 'Times New Roman', Times, serif; color:blue;"><marquee>Kilifi County Bursary Application Web System</marquee></h5>
  </section>
</div>
<div class="row text-center">
  <hr>
  <h5>Bursary Application Statuses</h5>
  <hr>
    <div class="col">
      <div class="col-md">
        <div class="card text-center text-dark mb-3" id= "total-applications">
          <div class="card-header">
            <h6 class="card-title">Total Bursaries</h6>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{total_bursaries}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-dark mb-3" id= "disbursed-bursaries">
          <div class="card-header">
            <h6 class="card-title">Disbursed Bursaries</h6>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{disbursed_bursaries}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-dark mb-3">
          <div class="card-header">
            <h6 class="card-title"> Pending Bursaries</h6>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{pending_bursaries}}</h3>
          </div>
        </div>
      </div>
    </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-dark mb-3" id= "in-progress">
        <div class="card-header">
          <h6 class="card-title"> Rejected </h6>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{rejected}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>


