{% extends 'partials/base.html' %}
{% load static %}

{% block title %}
KCBAWS|Requirements
{% endblock title%}


{% block content %}
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 style="font-family: 'Times New Roman', Times, serif; color: blue;">ELIGIBILITY</h2>
            <hr>
            <p><marquee><strong>Carefully</strong>, read the following to know the burasry application REQUIREMENTS.</marquee></p>
            <hr>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-beat-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">You MUST be a native residence of Kilifi in order to qualify for the awarding of the bursary.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">Fill out the application form completely and accurately. Provide all required information. Be honest and transparent in your responses.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-beat-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">For new students, ensure you attach a copy of your Primary/Secondary school result slip.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">Have a good academic performance at the secondary or tertiary level.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-beat-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">Submit authentic birth certificate for secondary school and National ID for tertiary level applicants.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">All inaccurately filled forms will be automatically disqualify  the application.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-beat-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">Newly admitted students should include a copy of the Admission letter.</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                    <i class="fa-solid fa-circle-info fa-fade fa-xl"></i>
                </div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1"><b>NOTE:</b> Review your application for errors, typos, and grammatical mistakes. A well-written and error-free application reflects positively on your candidacy.</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}