{% extends 'partials/base.html' %}

{% block title %}
{{ request.user }} Reset Password
{% endblock title %}

{%  block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center" style="background-color: rgb(223, 191, 132);">
            <h3>Password Reset Sent</h3>
            <hr>
            <p>We've Emailed you Instructions for setting up your password, Kindly check your Email.</p>
            <p>If you don't receive an email, check to enter the email address you registered with.</p>
        </div>
    </div>
</div>
{% endblock content %}